<div ng-controller="PlaceQueryController" layout="column" layout-padding ng-cloak>

  <span ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</span>

  <br/>
  <md-content class="md-no-momentum">
	<form novalidate name="placeQueyForm">

    <md-input-container class="md-icon-float md-block">      
        <label>LocationName</label>      
        <input ng-model="formQuery.locationName" type="text">        	  
    </md-input-container>

    <md-input-container class="md-icon-float md-block">      
        <label>distance</label>      
        <input ng-model="formQuery.distance" type="text" >        	  
    </md-input-container>
 
    <md-input-container class="md-icon-float md-block">      
        <label>city</label>      
        <input ng-model="formQuery.city" type="text" >        	  
    </md-input-container>
 
    <input ng-model="formQuery.latitude" type="text" style="display: none;">
    <input ng-model="formQuery.latitude" type="text" style="display: none;">  

    <!-- <md-input-container class="md-icon-float md-block">      
        <label>latitude</label>      
        <input ng-model="formQuery.latitude" type="text" hidden>        	  
    </md-input-container>
  
    <md-input-container class="md-icon-float md-block">      
        <label>latitude</label>      
        <input ng-model="formQuery.latitude" type="text" hidden>        	  
    </md-input-container> -->
			
    <md-button ng-click="submitForm()" class="md-raised md-primary">Search</md-button>
    <md-button href="/#!/places/new" class="md-raised md-warn">New</md-button>
	</form>
  </md-content>
  
  <md-content>
      <md-list class="md-dense" flex>
        <md-subheader class="md-no-sticky">List of Places</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="place in places">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ place.locationName }}</h3>
            <h4>{{ place.description }}</h4>
            <h4>{{ place.address }}</h4>
            <h4>{{ place.city }}</h4>
            <p>{{ place.coordinates }}</p>
          </div>
          <md-divider></md-divider>
        </md-list-item>               
      </md-list>
    </md-content>  
</div>